<div class="chat-container">
  <div class="messages" #messagesContainer>
    <div *ngFor="let msg of messages" [ngClass]="msg.sender">
      {{ msg.text }}
    </div>
  </div>

  <div class="input-box">
    <input [(ngModel)]="userInput" placeholder="Type a message..." (keydown.enter)="sendMessage()"/>
    <button (click)="sendMessage()">
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="white">
    <path d="M2 21l21-9L2 3v7l15 2-15 2v7z"/>
  </svg>
</button>
  </div>
</div>

